node_modules/
dist/
packages/*/dist/
packages/*/node_modules/
playground/*/dist/
playground/*/node_modules/
packages/*/docs/node_modules/
packages/*/docs/dist/
.pnpm-store/
.DS_Store
coverage/
*.log
.env*
.superpowers/
.worktrees
worktrees
